<div class="container">
  <div class="row mt-3 mb-3">
    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>
  </div>
  <div class="row mt-5">
    <div class="col-sm-6 offset-sm-3">
      <h4>Enter a URL you'd like to save as a PDF:</h4>
    </div>
  </div>
  <%= form_with url: "/save_page", method: :post do |form| %>
    <div class="row">

        <div class="col-sm-6 offset-sm-3">
          <input class="form-control" type="text" name="url_to_save" />
        </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-6 offset-sm-3">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  <% end %>
</div>
